*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra{
    background: red;
    height: 7vh;

}



.nav-Links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.nav-Links li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.logo-barra{
    height: 90vh;
}

@media screen and (max-width: 768px){
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    .barra{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }
    
    .nav-Links{
        position: relative;
        background: red;
        height: 100vh;
        width: 50%;
        flex-direction: column;
        clip-path: ellipse(100px at 90% -10%);
        -webkit-clip-path: ellipse(800px at 90% -10%);
        transition: all 1s ease-out;
    }

    .nav-Links.open{
        clip-path: ellipse(100px at 90% -10%);
        -webkit-clip-path: ellipse(100px at 90% -10%);
    }

}
